# == Files extensions
*.swp
*.swo
*.swn
netboxapi.json
*.log
__pycache__
*.pyc

# == Dirs
bin/
build/
netboxapi_client.egg-info/

# == Other files
docker-compose.yml
entrypoint.sh
LICENCE.txt
README.md
