language: python
sudo: required
notifications:
  webhooks: "https://$USERNAME:$PASSWORD@chat.nc42.fr/hooks/9kFCPnXSs6WuYDfaX/CH4BGz5o4fpuSRnd59yWWgEGwpvxkhZqnk6zKFuQ5P6yQDrB"

services:
  - docker

before_install:
  - python setup.py build && pip install -e .
  - docker-compose up -d
  - sleep 5
  - docker exec netboxapiclient_db_1 su -c "psql netbox < /var/lib/postgresql/dump.sql" postgres
  - sleep 2
  - docker-compose up -d
  - sleep 10

script:
  - python tests/basic.py
  - docker build -t netboxapi_client .
  - docker run --rm -it --net=host -e NETBOXAPI_TOKEN=8054b0446b7a2c930230058afb126df65e2f64af -e NETBOXAPI_URL=http://localhost:8000 netboxapi_client:latest ipam aggregates list
