language: python
sudo: required

services:
  - docker

before_install:
  - python setup.py build && pip install -e .
  - docker-compose up -d
  - sleep 5
  - docker exec netboxapiclient_db_1 su -c "psql netbox < /var/lib/postgresql/dump.sql" postgres
  - sleep 5
  - docker ps
  - docker logs netboxapiclient_db_1
  - docker start netboxapiclient_netbox_1
  - docker logs netboxapiclient_db_1
  - ss -lnpt

script:
  - python tests/basic.py
